<div class="container">
  <div class="form-container">
    <div class="form-head">
      <p class="form-title"><i class="fa fa-pencil fa-lg"></i>&nbsp;Masukkan nomor Kartu Keluarga</p>
    </div>
    <div class="form-pendaftaran">
      <form id="Form1" class="group" action="index.html" method="post">
        <label for="no_kk">Nomor Kartu Keluarga</label>
        <div class="input-group">
          <input ng-model="nomor_kk" type="number" class="input" id="no_kk" placeholder="Nomor Kartu Keluarga"/>
          <span class="input-addon-btn">
            <button type="button" class="btn btn-check" name="button"><i class="fa fa-check fa-lg"></i>&nbsp;Cek</button>
          </span>
        </div>
        <label for="nama_kk">Nama Kepala Keluarga</label>
        <input ng-model="nama_kk" readonly type="text" class="input" id="nama_kk" placeholder="Nama kepala keluarga"/>
        <hr>
        <button id="btn" type="button" class="btn btn-next" name="button"><i class="fa fa-floppy-o fa-lg"></i>&nbsp;Simpan data</button>
      </form>
    </div>
  </div>
</div>
