<div class="container">
  <div class="form-container">
    <div class="form-head">
      <p class="form-title"><i class="fa fa-pencil fa-lg"></i>&nbsp;Bayi/Anak</p>
    </div>
    <div class="form-pendaftaran">
      <form class="group" action="index.html" method="post">
        <label for="">NIK bayi</label>
        <div class="input-group">
          <input type="number" class="input" placeholder="Masukkan NIK bayi/anak jika ada" ng-model="nik_bayi" name="" value="">
          <span class="input-addon-btn">
            <button type="button" class="btn btn-check" ng-click="cek(nik_bayi)" name="button"><i class="fa fa-check fa-lg"></i>&nbsp;Cek</button>
          </span>
        </div>
        <label for="nama_bayi">Nama Lengkap</label>
        <input type="text" ng-model="nama" id="nama_bayi" class="input" placeholder="Nama Lengkap" name="" />
        <h5 id="nama_alert" class="input-alert"><i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;Nama tidak boleh kosong</h5>
        <label for="jeniskel">Jenis Kelamin</label>
        <select ng-model="jen_kel" class="input" name="">
          <option value="Laki-laki">Laki - laki</option>
          <option value="Perempuan">Perempuan</option>
        </select>
        <label for="tempat">Tempat dilahirkan</label>
        <select ng-model="tempat" id="tempat" class="input" name="">
          <option value="RS/RB">RS/RB</option>
          <option value="Puskesmas">Puskesmas</option>
          <option value="Polindes">Polindes</option>
          <option value="Rumah">Rumah</option>
          <option value="Lainnya">Lainnya</option>
        </select>
        <input id="tempatLain" type="text" class="input" placeholder="Tempat lain" name="" value="">
        <label for="tempatkel">Tempat kelahiran</label>
        <div class="input-group">
          <div class="input-addon">
            Provinsi
          </div>
          <select id="prov" class="input" name="" ng-model="provinsi">
            <option value="" data-prov="">Propinsi</option>
            <option ng-repeat="provinsi in list" value="{{ provinsi.NAMA_PROP }}" data-prov="{{ provinsi.NO_PROP }}">{{ provinsi.NAMA_PROP }}</option>
          </select>
          <div class="input-addon">
            Kabupaten/Kota
          </div>
          <select class="input" name="" ng-model="kabupatenkota">
            <option value="">Kabupaten</option>
            <option ng-repeat="kabkota in listkab" value="{{ kabkota.NAMA_KAB }}">{{ kabkota.NAMA_KAB }}</option>
          </select>
        </div>
        <input ng-model="tempatkel" type="text" id="tempatkel" class="input" placeholder="Tempat kelahiran"/>
        <h5 id="tmpt_alert" class="input-alert"><i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;Tempat kelahiran tidak boleh kosong</h5>
        <label for="tglLahir">Tanggal lahir</label>
        <input type="text" ng-model="tglLahir" id="tglLahir" class="input" placeholder="Tanggal Lahir" name="" value="">
        <h5 id="tgl_alert" class="input-alert"><i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;Pilih tanggal</h5>
        <div id="tanggal"></div>
        <label for="">Pukul</label>
        <input type="text" data-field="time" class="input" id="jam" ng-model="pukul" name="" value="">
        <h5 class="input-alert" id="jam_alert"><i class="fa fa-exclamation-circle fa-lg"></i>&nbsp;Pilih jam</h5>
        <label for="">Jenis Kelahiran</label>
        <select ng-model="jen_kelahiran" class="input" name="">
          <option value="Tunggal">Tunggal</option>
          <option value="Kembar 2">Kembar 2</option>
          <option value="Kembar 3">Kembar 3</option>
          <option value="Kembar 4">Kembar 4</option>
          <option value="Lainnya">Lainnya</option>
        </select>
        <label for="">Kelahiran ke</label>
        <select ng-model="kelahiran_ke" class="input" name="">
          <option value="Pertama">Pertama</option>
          <option value="Kedua">Kedua</option>
          <option value="Ketiga">Ketiga</option>
          <option value="Keempat">Keempat</option>
          <option value="Lainnya">Lainnya</option>
        </select>
        <label for="">Penolong kelahiran</label>
        <select ng-model="penolong_kelahiran" class="input" name="">
          <option value="Dokter">Dokter</option>
          <option value="Bidan/Perawat">Bidan/Perawat</option>
          <option value="Dukun">Dukun</option>
          <option value="Lainnya">Lainnya</option>
        </select>
        <label for="">Berat bayi</label>
        <div class="input-group">
          <input type="number" id="berat" ng-model="berat" class="input" name="" value="">
          <span class="input-addon">Gr</span>
        </div>
        <label for="">Panjang bayi</label>
        <div class="input-group">
          <input type="number" id="panjang" ng-model="panjang" class="input" name="" value="">
          <span class="input-addon">Cm</span>
        </div>
        <hr>
        <button type="button" class="btn btn-prev" onclick="window.location.replace('#!/')" name="button"><i class="fa fa-angle-left fa-lg"></i>&nbsp;Kembali</button>
        <button type="submit" id="btn" class="btn btn-next" name="button"><i class="fa fa-floppy-o fa-lg"></i>&nbsp;Simpan</button>
      </form>
    </div>
  </div>
</div>
