<div class="container" ng-controller="form-title">
  <div class="form-container">
    <div class="form-head">
      <p class="form-title"><i class="fa fa-pencil fa-lg"></i>&nbsp;Bayi/</p>
    </div>
    <div class="form-pendaftaran">
      <form class="group" action="index.html" method="post">
        <label for="nama">Nama</label>
        <input type="text" class="input" placeholder="Nama" name="" />
        <label for="jeniskel">Jenis Kelamin</label>
        <select class="input" name="">
          <option value="1">Laki - laki</option>
          <option value="2">Perempuan</option>
        </select>
        <label for="tempat">Tempat dilahirkan</label>
        <select class="input" name="">
          <option value="1">RS/RB</option>
          <option value="2">Puskesmas</option>
          <option value="3">Polindes</option>
          <option value="4">Rumah</option>
          <option value="5">Lainnya</option>
        </select>
        <label for="tempatkel">Tempat kelahiran</label>
        <input type="text" class="input" placeholder="Tempat kelahiran"/>
        <label for="tglLahir">Hari dan Tanggal lahir</label>
        <input type="text" class="input" placeholder="Hari/Tgl/Bulan/Tahun" name="" value="">
        <label for="">Pukul</label>
        <input type="text" class="input" placeholder="Pukul" name="" value="">
        <label for="">Jenis Kelahiran</label>
        <select class="input" name="">
          <option value="1">Tunggal</option>
          <option value="2">Kembar 2</option>
          <option value="3">Kembar 3</option>
          <option value="4">Kembar 4</option>
          <option value="5">Lainnya</option>
        </select>
        <label for="">Kelahiran ke</label>
        <select class="input" name="">
          <option value="1">Pertama</option>
          <option value="2">Kedua</option>
          <option value="3">Ketiga</option>
          <option value="4">Keempat</option>
          <option value="...">...</option>
        </select>
        <label for="">Penolong kelahiran</label>
        <select class="input" name="">
          <option value="1">Dokter</option>
          <option value="2">Bidan/Perawat</option>
          <option value="3">Dukun</option>
          <option value="4">Lainnya</option>
        </select>
        <label for="">Berat bayi</label>
        <input type="number" class="input" placeholder="Berat bayi" name="" value="">
        <label for="">Panjang bayi</label>
        <input type="number" class="input" placeholder="Panjang bayi" name="" value="">
        <hr>
        <button type="button" class="btn btn-prev" ng-click="next('')" name="button"><i class="fa fa-angle-left fa-lg"></i>&nbsp;Kembali</button>
        <button type="button" class="btn btn-next" ng-click="next('halaman3')" name="button"><i class="fa fa-angle-right fa-lg"></i>&nbsp;Selanjutnya</button>
        <code>2 / 7 halaman</code>
      </form>
    </div>
  </div>
</div>
