<div class="container">
  <div class="form-container">
    <div class="form-head">
      <p class="form-title"><i class="fa fa-pencil fa-lg"></i>&nbsp;Data Ibu</p>
    </div>
    <div class="form-pendaftaran">
      <form class="group" action="index.html" method="post">
        <label for="nik">NIK</label>
        <div class="input-group">
            <input type="number" class="input" ng-model="nik" id="nik" placeholder="NIK" name="" value="">
            <span class="input-addon-btn">
              <button type="button" class="btn btn-check" name="button"><i class="fa fa-check fa-lg"></i>&nbsp;Cek</button>
            </span>
        </div>
        <label for="">Nama lengkap</label>
        <input type="text" class="input" ng-model="nama_ibu" id="nama_ibu" placeholder="Nama lengkap" name="" value="" readonly>
        <hr>
        <button type="button" class="btn btn-next" name="button"><i class="fa fa-floppy-o fa-lg"></i>&nbsp;Simpan</button>
      </form>
    </div>
  </div>
</div>
