<!DOCTYPE html>
<html ng-app="capil">
  <head>
    <meta charset="utf-8">
    <title>Upload Dokumen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="assets/js/jquery.min.js" charset="utf-8"></script>
    <script src="assets/js/angular.min.js" charset="utf-8"></script>
    <script src="assets/js/angular-route.min.js" charset="utf-8"></script>
    <script src="assets/js/angular-cookies.min.js" charset="utf-8"></script>
    <script src="assets/js/ng-file-upload.min.js" charset="utf-8"></script>
    <script src="assets/js/ng-file-upload-shim.min.js" charset="utf-8"></script>
    <script src="assets/js/main.js" charset="utf-8"></script>
  </head>
  <body>
    <nav class="navbar">
      <button type="button" class="btn btn-collapse" name="button"><i class="fa fa-bars fa-lg"></i></button>
      <a href="#" class="btn btn-collapse"><i class="fa fa-bars fa-lg"></i></a>
      <ul class="menu">
        <li><a href="#" class="logo">Dispendukcapil</a></li>
        <li><a href="index.html"><i class="fa fa-home fa-lg"></i>&nbsp;Halaman utama</a></li>
        <li><a href="#"><i class="fa fa-question-circle fa-lg"></i>&nbsp;Bantuan</a></li>
        <li><a href="#"><i class="fa fa-sign-in fa-lg"></i>&nbsp;Login</a></li>
      </ul>
    </nav>
    <div class="space"></div>
    <div class="container">
      <div class="kotak" ng-controller="upload">
        <div class="head">
          <p class="head-title"><i class="fa fa-upload fa-lg"></i>&nbsp;Upload file</p>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Nama berkas</th>
              <th>File</th>
              <th>Upload</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Surat keterangan kelahiran</td>
              <td><a href="{{ surat_ket_kelahiran_link }}" target="_blank">{{ surat_ket_kelahiran }}</a></td>
              <td>
                <input type="file" ngf-select ng-model="surat_keterangan_kelahiran"  accept="image/*" ngf-pattern="'image/*'" name="" value="">
                <button type="button" class="btn btn-check" ng-click="upload(surat_keterangan_kelahiran, 'berkas_surat_ket_kelahiran')" name="button">Masukkan</button>
              </td>
            </tr>
            <tr>
              <td>Fotocopy KTP Ayah</td>
              <td><a href="{{ ktp_ayah_link }}" target="_blank">{{ ktp_ayah }}</a></td>
              <td>
                <input type="file" ngf-select ng-model="ktp_ayah" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB"/>
                <button type="button" class="btn btn-check" ng-click="upload(ktp_ayah, 'berkas_ktp_ayah')" name="button">Masukkan</button>
              </td>
            </tr>
            <tr>
              <td>Fotocopy KTP Ibu</td>
              <td><a href="{{ ktp_ibu_link }}" target="_blank">{{ ktp_ibu }}</a></td>
              <td>
                <input type="file" ngf-select ng-model="ktp_ibu" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB"/>
                <button type="button" class="btn btn-check" ng-click="upload(ktp_ibu, 'berkas_ktp_ibu')" name="button">Masukkan</button>
              </td>
            </tr>
            <tr>
              <td>Fotocopy KTP Saksi 1</td>
              <td><a href="{{ ktp_saksi1_link }}" target="_blank">{{ ktp_saksi1 }}</a></td>
              <td>
                <input type="file" ngf-select ng-model="saksi" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB"/>
                <button type="button" class="btn btn-check" ng-click="upload(saksi, 'berkas_ktp_saksi1')" name="button">Masukkan</button>
              </td>
            </tr>
            <tr>
              <td>Fotocopy KTP Saksi 2</td>
              <td><a href="{{ ktp_saksi2_link }}" target="_blank">{{ ktp_saksi2 }}</a></td>
              <td>
                <input type="file" ngf-select ng-model="saksi2" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB"/>
                <button type="button" class="btn btn-check" ng-click="upload(saksi2, 'berkas_ktp_saksi2')" name="button">Masukkan</button>
              </td>
            </tr>
            <tr>
              <td>Berita acara kepolisian</td>
              <td><a href="{{ berita_acara_link }}">{{ berita_acara }}</a></td>
              <td>
                <input type="file" ngf-select ng-model="berita_acara_kep" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB"/>
                <button type="button" class="btn btn-check" ng-click="upload(berita_acara_kep, 'berkas_berita_acara_kepolisian')" name="button">Masukkan</button>
              </td>
            </tr>
            <tr>
              <td>Kartu Keluarga</td>
              <td><a href="{{ kk_link }}" target="_blank" ng-disabled="kk == null">{{ kk }}</a></td>
              <td>
                <input type="file" ngf-select ng-model="kartu_kel" ngf-pattern="'image/*'" ngf-max-size="5MB">
                <button type="button" ng-click="upload(kartu_kel, 'berkas_kk')" class="btn btn-check">Masukkan</button>
              </td>
            </tr>
            <tr>
              <td>Akte perkawinan</td>
              <td><a href="{{ akte_perkawinan_link }}">{{ akte_perkawinan }}</a></td>
              <td>
                <input type="file" ngf-select ng-model="akt_perkawinan" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB"/>
                <button ng-click="upload(akt_perkawinan, 'berkas_akta_perkawinan')" type="button" class="btn btn-check" name="button">Masukkan</button>
              </td>
            </tr>
            <tr>
              <td>Akte kelahiran ibu</td>
              <td><a href="{{ akte_kelahiran_ibu_link }}" target="_blank">{{ akte_kelahiran_ibu }}</a></td>
              <td>
                <input type="file" name="" value="" ngf-select ng-model="akte_kel_ibu" ngf-pattern="'image/*'" ngf-max-size="5MB"/>
                <button type="button" class="btn btn-check" ng-click="upload(akte_kel_ibu, 'berkas_akte_kelahiran_ibu')" name="button">Masukkan</button>
              </td>
            </tr>
            <tr>
              <td>Surat pernyataan belum menikah</td>
              <td><a href="{{ surat_pernyataan_belum_nikah_link }}" target="_blank">{{ surat_pernyataan_belum_nikah }}</a></td>
              <td>
                <input type="file" name="" value="" ngf-select ng-model="surat_pernyataan" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="5MB"/>
                <button type="button" ng-click="upload(surat_pernyataan, 'berkas_surat_pernyataan_belum_catat_kawin_ibu')" class="btn btn-check" name="button">Masukkan</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
