<div class="container">
  <div class="kotak">
    <div class="head">
      <div class="head-title">
        <i class="fa fa-list-ul fa-lg"></i>&nbsp;Laporan (diverifikasi)
      </div>
      <div class="kotak-body">
        <div class="row">
          <div class="col-8">
            <div class="input-group">
              <div class="input-addon">
                <i class="fa fa-filter fa-lg"></i>&nbsp;Urut berdasarkan
              </div>
              <select ng-model="order" id="order" class="input" name="">
                <option value="no_kk">Nomor KK</option>
                <option value="nama">Nama bayi</option>
                <option value="tanggal_pendaftaran">Tanggal pendaftaran</option>
                <option value="tanggal_lahir">Tanggal lahir bayi</option>
              </select>
              <div class="input-addon">
                <i class="fa fa-sort fa-lg"></i>&nbsp;Sortir
              </div>
              <select id="sort" ng-model="sort" class="input" name="">
                <option value="asc">Ascending</option>
                <option value="desc">Descending</option>
              </select>
            </div>
          </div>
          <div class="col-4">
            <div class="input-group">
              <input type="text" ng-model="cari" id="cari" placeholder="Cari nomor KK" class="input" name="" value="">
              <span class="input-addon-btn">
                <button type="button" class="btn btn-next" name="button"><i class="fa fa-search fa-lg"></i>&nbsp;Cari</button>
              </span>
            </div>
          </div>
          <div class="col-2">
            <div class="input-group">
              <div class="input-addon">
                Batas
              </div>
              <select ng-model="batas" id="batas" class="input" name="">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
              </select>
            </div>
          </div>
          <div class="col-4">
          </div>
          <div class="col-6">
            <div class="input-group">
              <span class="input-addon">
                Range tanggal
              </span>
              <input type="text" ng-model="tgl" id="tgl" placeholder="Tanggal awal" class="input" name="" value="">
              <div class="input-addon">
                s/d
              </div>
              <input type="text" id="tgl2" ng-model="tgl2" placeholder="Tanggal akhir" class="input" name="" value="">
            </div>
          </div>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>No.</th>
              <th>Nomor KK</th>
              <th>Nama Bayi</th>
              <th>No. pendaftaran</th>
              <th>Tanggal lahir</th>
              <th>Tanggal pendaftaran</th>
              <th>Nomor Telp</th>
              <th>Detail/Selesai</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-show="totalData == 0">
              <td colspan="8" style="text-align:center;">Tidak ada antrian pada tanggal <b>{{ tgl }}</b> s/d <b>{{ tgl2 }}</b></td>
            </tr>
            <tr ng-repeat="list in daftar">
              <td>{{ daftar.indexOf(list) + 1 }}</td>
              <td>{{ list.no_kk }}</td>
              <td>{{ list.nama }}</td>
              <td>{{ list.no_antrian }}</td>
              <td>{{ list.tanggal_lahir }}</td>
              <td>{{ list.tanggal_pendaftaran }}</td>
              <td>{{ list.p_no_telfon }}</td>
              <td>
                <button type="button" class="btn btn-check" ng-click="detail(list.id_bayi)">Detail</button>
                <button type="button" class="btn btn-next" ng-click="selesai(list.id_bayi)">Selesai</button>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="kotak-body">
          <button type="button" class="btn btn-prev" ng-disabled="currentpage == 1" ng-click="prev()" name="button">Sebelumnya</button>
          <button type="button" class="btn btn-prev" ng-disabled="currentpage == totalHalaman || totalHalaman == 0" ng-click="pindahHalaman()" name="button">Berikutnya</button>
          <code ng-show="totalHalaman != 0">{{ currentpage }} dari {{ totalHalaman }} Halaman</code>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="modal" class="modal">
  <div class="modal-window modal-wide">
    <div class="modal-titlebar">
      <span class="close">
        <i class="fa fa-times fa-lg"></i>
      </span>
      <p class="title"><i class="fa fa-list fa-lg"></i>&nbsp;Detail</p>
    </div>
    <div class="modal-content">
      <h4><i class="fa fa-list fa-lg"></i>&nbsp;Detail keluarga</h4>
      <div class="row">
        <div class="col-6">
          <div class="collapse">
            <div class="head blue">
              <p><i class="fa fa-file fa-lg"></i>&nbsp;Keluarga</p>
              <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
            </div>
            <div class="containers">
              <table class="table">
                <tr>
                  <td>Nomor Kartu Keluarga</td>
                  <td>{{ nomor_kk }}</td>
                </tr>
                <tr>
                  <td>Nama Kepala Keluarga</td>
                  <td>{{ nama_kepala_keluarga }}</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="collapse">
            <div class="head red">
              <p><i class="fa fa-user fa-lg"></i>&nbsp;Ibu</p>
              <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
            </div>
            <div class="containers">
            <table class="table">
              <tr>
                <td>NIK</td>
                <td>{{ nik_ibu }}</td>
              </tr>
              <tr>
                <td>Nama Ibu</td>
                <td>{{ nama_ibu }}</td>
              </tr>
            </table>
          </div>
          </div>
          <div class="collapse">
            <div class="head red">
              <p><i class="fa fa-user fa-lg"></i>&nbsp;Ayah</p>
              <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
            </div>
            <div class="containers">
            <table class="table">
              <tr>
                <td>NIK</td>
                <td>{{ nik_ayah }}</td>
              </tr>
              <tr>
                <td>Nama Ayah</td>
                <td>{{ nama_ayah }}</td>
              </tr>
            </table>
          </div>
          </div>
          <div class="collapse">
            <div class="head darkblue">
              <p><i class="fa fa-user fa-lg"></i>&nbsp;Keterangan operator</p>
              <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
            </div>
            <div class="collapse-body">
              <input type="hidden" ng-model="id_bayi" name="" value="">
              <input type="hidden" ng-model="verif" name="" value="">
              <label for="">Keterangan operator</label>
              <textarea placeholder="Keterangan" name="name" class="input" ng-model="keterangan" rows="5" cols="80"></textarea>
              <button type="button" ng-click="updateKeterangan(id_bayi)" class="btn btn-next" name="button">Simpan</button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="collapse">
            <div class="head lightgreen">
              <p><i class="fa fa-h-square fa-lg"></i>&nbsp;Bayi</p>
              <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
            </div>
            <div class="containers">
            <table class="table">
              <tr>
                <td>Nama Bayi</td>
                <td>{{ nama_bayi }}</td>
              </tr>
              <tr>
                <td>Jenis Kelamin</td>
                <td>{{ jenis_kelamin }}</td>
              </tr>
              <tr>
                <td>Tempat dilahirkan</td>
                <td>{{ tempat_dilahirkan }}</td>
              </tr>
              <tr>
                <td>Tempat kelahiran</td>
                <td>{{ data_keluarga.prov_kelahiran }}, {{ data_keluarga.kotakab_kelahiran }}, {{ tempat_kelahiran }}</td>
              </tr>
              <tr>
                <td>Tanggal lahir</td>
                <td>{{ tanggal_lahir }}</td>
              </tr>
              <tr>
                <td>Jam</td>
                <td>{{ waktu_lahir }}</td>
              </tr>
              <tr>
                <td>Jenis kelahiran</td>
                <td>{{ jenis_kelahiran }}</td>
              </tr>
              <tr>
                <td>Kelahiran ke</td>
                <td>{{ kelahiran_ke }}</td>
              </tr>
              <tr>
                <td>Penolong kelahiran</td>
                <td>{{ penolong_kelahiran }}</td>
              </tr>
              <tr>
                <td>Berat</td>
                <td>{{ berat }}</td>
              </tr>
              <tr>
                <td>Panjang</td>
                <td>{{ panjang }}</td>
              </tr>
            </table>
          </div>
          </div>
          <div class="collapse">
            <div class="head blue">
              <p><i class="fa fa-user fa-lg"></i>&nbsp;Data keluarga</p>
              <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
            </div>
            <div class="containers">
              <table class="table">
                <tbody>
                  <tr>
                    <td>Nomor telepon</td>
                    <td>{{ data_keluarga.p_no_telfon }}</td>
                  </tr>
                  <tr>
                    <td>Alamat</td>
                    <td>{{ data_keluarga.p_alamat }}</td>
                  </tr>
                  <tr>
                    <td>Pernyataan</td>
                    <td>{{ data_keluarga.p_pernyataan }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="collapse">
            <div class="head turquoise">
              <p><i class="fa fa-user-o fa-lg"></i>&nbsp;Pelapor</p>
              <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
            </div>
            <div class="containers">
              <table class="table">
                <tr>
                  <td>NIK</td>
                  <td>{{ pelapor.nik }}</td>
                </tr>
                <tr>
                  <td>Nama Pelapor</td>
                  <td>{{ pelapor.nama }}</td>
                </tr>
                <tr>
                  <td>Tanggal lahir</td>
                  <td>{{ pelapor.tangal_lahir }}</td>
                </tr>
                <tr>
                  <td>Jenis kelamin</td>
                  <td>{{ pelapor.jenis_kelamin }}</td>
                </tr>
                <tr>
                  <td>Alamat</td>
                  <td>{{ pelapor.alamat }}</td>
                </tr>
                <tr>
                  <td>Pekerjaan</td>
                  <td>{{ pelapor.pekerjaan }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-4" ng-repeat="saksi2 in saksi">
          <div class="collapse">
            <div class="head darkblue">
              <p><i class="fa fa-user-circle-o fa-lg"></i>&nbsp;Saksi {{ saksi.indexOf(saksi2) + 1 }}</p>
              <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
            </div>
            <div class="containers">
              <table class="table">
                <tr>
                  <td>NIK</td>
                  <td>{{ saksi2.nik }}</td>
                </tr>
                <tr>
                  <td>Nama Pelapor</td>
                  <td>{{ saksi2.nama }}</td>
                </tr>
                <tr>
                  <td>Tanggal lahir</td>
                  <td>{{ saksi2.tangal_lahir }}</td>
                </tr>
                <tr>
                  <td>Jenis kelamin</td>
                  <td>{{ saksi2.jenis_kelamin }}</td>
                </tr>
                <tr>
                  <td>Alamat</td>
                  <td>{{ saksi2.alamat }}</td>
                </tr>
                <tr>
                  <td>Pekerjaan</td>
                  <td>{{ saksi2.pekerjaan }}</td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h4><i class="fa fa-file-archive-o fa-lg"></i>&nbsp;Berkas yang sudah dimasukkan</h4>
      <div class="collapse">
        <div class="head">
          <p><i class="fa fa-file-archive-o fa-lg"></i>&nbsp;Berkas</p>
          <span class="collapse-icon"><i class="fa fa-angle-down fa-lg"></i></span>
        </div>
        <div class="containers">
          <table class="table">
            <tbody>
              <tr>
                <td>Surat keterangan kelahiran</td>
                <td><a href="{{ surat_ket_kelahiran_link }}" ng-disabled="surat_ket_kelahiran == 'Belum Upload'" target="_blank">{{ surat_ket_kelahiran }}</a></td>
              </tr>
              <tr>
                <td>Fotocopy KTP Ayah</td>
                <td><a href="{{ ktp_ayah_link }}" ng-disabled="ktp_ayah == 'Belum Upload'" target="_blank">{{ ktp_ayah }}</a></td>
              </tr>
              <tr>
                <td>Fotocopy KTP Ibu</td>
                <td><a href="{{ ktp_ibu_link }}" ng-disabled="ktp_ibu == 'Belum Upload'" target="_blank">{{ ktp_ibu }}</a></td>
              </tr>
              <tr>
                <td>Fotocopy KTP Saksi 1</td>
                <td><a href="{{ ktp_saksi1_link }}" target="_blank">{{ ktp_saksi1 }}</a></td>
              </tr>
              <tr>
                <td>Fotocopy KTP Saksi 2</td>
                <td><a href="{{ ktp_saksi2_link }}" target="_blank">{{ ktp_saksi2 }}</a></td>
              </tr>
              <tr>
                <td>Berita acara kepolisian</td>
                <td><a href="{{ berita_acara_link }}" ng-disabled="berita_acara == 'Belum Upload'">{{ berita_acara }}</a></td>
              </tr>
              <tr>
                <td>Kartu Keluarga</td>
                <td><a href="{{ kk_link }}" target="_blank" ng-disabled="kk == null">{{ kk }}</a></td>
              </tr>
              <tr>
                <td>Akte perkawinan</td>
                <td><a href="{{ akte_perkawinan_link }}">{{ akte_perkawinan }}</a></td>
              </tr>
              <tr>
                <td>Akte kelahiran ibu</td>
                <td><a href="{{ akte_kelahiran_ibu_link }}" target="_blank">{{ akte_kelahiran_ibu }}</a></td>
              </tr>
              <tr>
                <td>Surat pernyataan belum menikah</td>
                <td><a href="{{ surat_pernyataan_belum_nikah_link }}" target="_blank">{{ surat_pernyataan_belum_nikah }}</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-next" ng-click="selesai(list.id_bayi)">Selesai</button>
    </div>
  </div>
</div>
